{% load static %}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        
        {% block css %}
        {% endblock %}
		<title>
            {% block title %}
            Universidade Handcode
            {% endblock %}
        </title>
    </head>
    <body>
        {% block header %}
            {% include "header.html" %}
        {% endblock %}
        <div class="full_width_title">
            <section>
                <h2 class="title_page">Área do Aluno</h2>
            </section>
        </div>
        <div>
            <section id="painel">
                <div class="sidemenu-box">
                    <h2>Acesso Rápido</h2>    
                    <nav  id="side-menu" class = "side-menu">
                        <ul>
                            <li> <a href="/aluno/boletim">Consulta de Boletim</a></li>
                            <li> <a href="/aluno/avaliacoes">Avaliações</a></li>
                           
                        <ul>
                    </nav>
                </div>
                <div class="painel-box">
                    <div id="identificacao">
                        Aluno: 
                        RA:
                        <button id="sair" ><a href="/logout">Sair</a></button>
                    
                    </div>
                    <div>
                    {% block main %}
                    
                    {% endblock %}
                    </div>
                </div>
            </section>
            </div>
            <div class="full_width_line"></div>
       
        
        
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>