{% load static %}
<footer>
    <div class = "footer_top">
      <p><div class = "footer_col">
            <p class="strong">HandCode Faculdade de Tecnologia</p>
            <p>A Faculdade HandCode Tecnologia nasceu da percepção de um Grupo, que desde 1998 é referência em TI, Gestão e Design, para suprir a falta de mão de obra especializada do mercado de tecnologia e oferecer uma formação completa e multidisciplinar aos alunos.</p>
        </div></p>
    <p> <div class = "footer_col">
            <p class= "titulo">PÁGINAS</p>
            <ul class="strong">
                <li class="footer_li"> <a class="link_footer" href="/"> Home</a></li>
                <li class="footer_li"> <a class="link_footer" href="/handcode"> A HandCode</a></li>
                <li class="footer_li"> <a class="link_footer" href="/cursos"> Cursos</a></li>
                <li class="footer_li"> <a class="link_footer" href="/noticias"> Notícias</a></li>
                <li class="footer_li"> <a class="link_footer" href="/contato"> Contato</a></li>
            <ul>

        </div></p>
    <p><div class = "footer_col">
            <p class= "titulo">CONTATO</p>  
            <p class="strong">Comercial</p>
            <p>Tel: 11 3254-8300</p>
            <p class="strong">Secretaria</p>
            <p>Tel: 11 5593-5345</p>
            <p>Unidade – Barra Funda</p>
            <p>Avenida Rudge, 315 – Barra Funda<br/>São Paulo / SP</p>             
            
        </div></p>
     <p><div class = "footer_col">
            <p class= "titulo">ATENDIMENTO</p>
            <p class ="strong">Secretaria da Graduação</p>
            <p>De segunda à sexta – das 09h00 às 21h00</p>
            <p>Sábado – das 09h00 às 13h00</p>
            
            <p class="strong">Secretaria de Pós-graduação</p>
            <p>De segunda à sexta – das 13h00 às 21h00</p>
            <p>Sábado – das 09h00 às 13h00</p>
            
            <p class = "strong">Ouvidoria</p>
            <p>De segunda à sexta – das 09h00 às 18h00</p>
            <p>Telefone – (11) 5593-5370</p>
            
            
        </div></p>
       
    </div>
    <div class = "footer_button"> 
        <div class="fb_conteiner">Copyright 2017 - HandCode Faculdade de Tecnologia - Todos os Direitos Reservados</div>
    </div>
</footer>