{% load static %}
<header  id="cabecalho" class="cabecalho">
    <link rel="stylesheet" type="text/css" href="static/css/app.css" />
    <div class="header_conteiner">
      <input type= "checkbox" id = "btn_menu">
      <label for="btn_menu">&#9776;</label>
       <nav  id="menu" class = "menu">
            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="/handcode">HandCode</a></li>
                <li> <a href="/cursos">Cursos</a></li>
                <li> <a href="/noticias">Notícias</a></li>
                <li> <a href="/contato">Contato</a></li>
                <li> <a href="/login">Login</a></li>
            <ul>
       </nav>
      
    </div>
</header>
